/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-Mar-2018, 10:39:53 PM
    Author     : Don
*/
/*
html {
    height: 100%;
        margin: 0;
        border: 10px solid hotpink;
}

*/body {
    height: 100%;
        margin: 0;
        /*border: 10px solid blue;*/
    font-family: 'Open Sans', sans-serif;
    
}
    
header {
    background-image: url("../images/landing/coverImg.jpg");
    height: 125vh;
    background-size: cover;
    color: white;
    /*border: 10px solid red;*/
    /*margin-bottom: 50px;*/

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4, h5 {
    font-size-adjust: .7;
    margin: 0;
    margin-bottom: 5px;
}
a {
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
}
a:hover {
    opacity: .3;
}

.nav {
    /*border: 10px solid red;*/
    /*margin: 0 20%;*/
    /*margin-bottom: 50px;*/
    width: 100%;
    min-height: 200px;
    background-color: black;
    text-align: center;
    margin: 0;
    padding: 0;
}
.nav_link {
        /*border: 10px solid blue;*/
    display: inline-block;
    /*width: 30%;*/
    background-color: grey;
    margin: 0;
    padding: 0;
    min-width: 33.13%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#portfolio {
    background: url("../images/landing/coverImg.jpg");
    background-size: 100%;
}
#about {
    background: url("../images/landing/coverImg.jpg");
    background-size: 100%;
}
#contact {
    background: url("../images/landing/coverImg.jpg");
    background-size: 100%;
}


.footer {
    /*border: 10px solid green;*/
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #2f2a2d;
    text-align: center;
    display: inline-block;
}
.footer_link {
    display: inline-block;
    min-width: 49.7%;
    padding: auto;
    /*background-color: #2f2a2d;*/
    margin: 0;
    height: 98px;
    /*flex: 1;*/
    padding-top: 30px;
}
.footer_link:hover {
    text-decoration: none;
    opacity: 1;
}
#github {
    background: url("../images/landing/githubLand.png");
    background-size:  70px 70px;
    background-repeat:  no-repeat;
    background-position-y: 20%;
}
#github:hover {
    background: url("../images/landing/github_hoverLand.png");
    background-size:  70px 70px;
    background-repeat:  no-repeat;
    background-position-y: 20%;

}

#linkedin {
    background: url("../images/landing/linkedinLand.png");
    background-size:  70px 70px;
    background-repeat:  no-repeat;
    background-position-y: 20%;
}
#linkedin:hover {
    background: url("../images/landing/linkedin_hoverLand.png");
    background-size:  70px 70px;
    background-repeat: no-repeat;
    background-position-y: 20%;

}

@media (max-width: 800px) {
    .footer_link {
        min-width: 100%;
        height: 98px;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size-adjust: .5;
    }
    h5 {
        visibility: hidden;
    }
    #github, #github:hover, #linkedin, #linkedin:hover {
        background-position: center;
        margin: 0;
        height: 98px;
        background-color: #2f2a2d;
    }
    .nav p, .footer p {
        visibility: hidden;
    }
}

