html, body {
	width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.sidenav-button_container {
	top: 0;
	width: 100%;
	z-index: 1000;
	-webkit-box-shadow: 3px 3px 5px 6px gray;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  	   -moz-box-shadow: 3px 3px 5px 6px gray;  /* Firefox 3.5 - 3.6 */
  			box-shadow: 3px 3px 5px 4px gray;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
	background-color: white;
}

.sidenav-button_container:hover > .App-menu-logo .name {
	color: white;
}

.App-menu-logo {
	display: inline-block;
}

.App-menu-logo .name {
	color: black;
}

.App-menu-logo a:hover {
	text-decoration: none;
}

@media(max-width: 400px) {
	.App-menu-logo {
		font-size: 25px;
	}
}

.sidenav .sidenav-links-container .sidenav-links-container_inner a {
	text-decoration: none;
}

#home_nav img {
	width: 30px;
	margin-left: -2px;
}

#home_nav {
	color: #818181;
	font-weight: normal;
}

#home_nav:hover {
	color: white;
	font-weight: bold;
	cursor: pointer;
}

#projects_nav {
	color: white;
	font-weight: bold;
	cursor: default;
}

#contact_nav img {
	width: 24px;
}

.projects-container {
	/*background-color:black;
	background-image:
	radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
	radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
	radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
	radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
	background-size: 750px 750px, 450px 450px, 350px 350px, 1350px 1350px; 
	background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
	border: 20px solid black;*/
}

/*
 * Background
 * From: https://codepen.io/WebSonick/pen/vjmgu;
 */
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars, .twinkling{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(/images/stars.png) repeat top center;
  z-index:-3;
}

.twinkling{
  background:transparent url(/images/twinkling.png) repeat top center;
  z-index:-2;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}
/************Background************/

@media(max-width: 1000px) {
	.projects-container {
		border: 0;
	}
}

.row {
	margin-top: 65px;
}

.project-card {
	position: relative;
	text-align: center;
	color: white;
	padding: 10px;
	/*background-color: green;*/
	/*border: 2px solid red;*/
	/*z-index: -1;*/
	transition: all 0.3s ease-in-out;
}

.project-card:hover { 
	-webkit-transform: scale(0.9); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
        -ms-transform: scale(0.9); /* IE 9 */
            transform: scale(0.9); /* IE 10, Fx 16+, Op 12.1+ */
}

.project-card--linksimage:hover > img {
	opacity: 0.5;
}

.project-card:hover .project-card--links {
	visibility: visible;
	opacity: 1;
}

@media(max-width: 768px) {
	.project-card {
		padding: 0;
	}
}

.project-image {
	width: 100%;
	cursor: pointer;
	/*background-color: green;*/
	border: 5px white solid;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 4px grey;
}

@media(max-width: 1000px) {
	.project-image {
		padding: 0px;
		margin-top: 35px;
		margin-bottom: 40px;
	}
}

@media(max-width: 768px) {
	.project-image {
		margin: 0;
		padding: 0;
	}
}

.project-card--links {
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 0px;
	left: 0;
	bottom: 0px;
    width: 100%;
    visibility: hidden; /*can be transitioned unlike display*/
       opacity: 0; /*tandem with visibility transition*/
    padding-top: 30%;

    transition: visibility 0s, opacity .3s ease-in-out;
}

@media(max-width: 500px) {
	.project-card--links {
		padding-top: 20%;
	}
	.project-card--links .project-card-description p {
		display: none;
	}
}

@media(max-width: 500px) {
	.app-title {
		font-size: 1.5em;
	}
}

.project-card-description p {
	font-size: 1.2em;
}

.both-links ul {
	padding-left: 0; 
	list-style-type:none;
}

.both-links ul li {
	display: inline-block;
	/*background-color: black;*/
}

.both-links ul li a {
	text-decoration: none;
	margin: 0 10px;
	font-size: 1.3em;
}

/*
 * Background
 * From: https://codepen.io/WebSonick/pen/vjmgu;
 */
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars, .twinkling{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:-3;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:-2;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}
/************Background************/